<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h1>Cryptotabla</h1>
                <p>El proyecto consistia en realizar una tabla que sirva para consultar los siguientes datos en tiempo real: </p>
                <ul>
                    <li>Ranking</li>
                    <li>Tipo de moneda</li>
                    <li>Precio</li>
                    <li>Cambio de precio</li>
                    <li>Volumen de 24hs</li>
                </ul>
                <p>Para ello. Se realizo una consumicion de api externa la cual es coingecko.</p>
             </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <a href="https://criptotabla.web.app"> <img src="../../../assets/cryptotabla.png" class="img-fluid img-proyecto" ></a>
            </div>
        </div>
    </div>
</div>