<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
            <img src="../../../assets/Aticma.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/ramiro-gonzalez-98b28722a/"><img src="../../../assets/linkedin.png" alt="linkedin"> </a>
            <a href="https://github.com/rama42111869/Porfolio-final"><img src="../../../assets/github.png" alt="github"> </a>
        </div>
        <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
        <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
    </div>
</div>